<div class="format-actions">
  <button class="format-action" type="button" (click)="toBold()"><b>B</b></button>
  <button class="format-action" type="button" (click)="toItalics()"><i>I</i></button>
  <button class="format-action" type="button" (click)="toUnderline()"><u>U</u></button>
  <select (change)="applyColor($event.target.value)">
    <option *ngFor="let color of Colors">{{color}}</option>
  </select>
</div>
