:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.file {
  width: 600px;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #e4dede;
  padding: 20px;

  & .bold {
    font-weight: bold;
  }
  & .italic {
    font-style: italic;
  }
  & .underline {
    text-decoration: underline;
  }
  & .color-blue {
    color: blue;
  }
  & .color-green {
    color: green;
  }
  & .color-red {
    color: red;
  }
  & .color-yellow {
    color: yellow;
  }
}
