<p *ngIf="synonyms">Synonyms of <strong>{{ selectedWord }}</strong></p>
<ul class="list">
  <li
      class="synonym"
      (click)="replaceWithSynonym(synonym.word)"
      *ngFor="let synonym of synonyms"
  >
    {{synonym.word}}
  </li>
</ul>
